@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap') ;

body {
  background-color: #ecf0f1;
}

.container-done-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3px;
}

.container-buttons {
  background-color: #ecf0f1;
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
  width: 100%;
}

.container-buttons button {
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: #adadad 0.1em 0.2em 0.1em;
  color: hsl(18, 100%, 58%);
  display: flex;
  flex-basis: 31%;
  font-family: Ubuntu , sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  padding: 5px 2px;
}

.container-buttons button:active {
  background-color: hsl(18, 100%, 58%);
  color: white;
}

.container-done-cards {

  /* border: 1px solid red; */

  /* gap: 30px; */
}
