.container-done-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(146, 146, 146) 0.1em 0.1em 0.2em 0.1em;
  display: flex;
  font-family: Ubuntu , sans-serif;
  font-size: 20px;
  height: 140px;
  margin: 16px 8px;
  text-align: center;
  width: 280px;
}

.container-done-card .horizontal-image {
  height: 100%;
}

.container-info-general {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.container-text-share-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-info-general p {
  color: rgba(184, 184, 184, 1);
  font-size: 0.9rem;
}

.container-tag {
  display: flex;
}

.container-tag p {
  background-color: #eee;
  border-radius: 24px;
  color: rgba(33, 37, 41, 1);
  padding: 8px;
}

.tag-and-share {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
