@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap') ;

body {
  background-color: #f0f0f0;
}

.favorite-recipes {
  background-color: #f0f0f0;
  padding-bottom: 3px;
}

.card-favorite-recipe {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: #adadad 0.1em 0.2em 0.1em;
  display: flex;
  font-family: Ubuntu , sans-serif;
  font-size: 20px;
  margin: 16px 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.card-favorite-recipe a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.container-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.card-favorite-recipe div p {
  color: rgba(68, 68, 68, 0.596);
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.card-favorite-recipe div section {
  display: flex;
  flex-grow: 0.8;
  justify-content: space-around;
  width: 100%;
}

.horizontal-image {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 140px;
}

.filter-btns {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
}

.btn-type-meals {
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: #adadad 0.1em 0.2em 0.1em;
  color: hsl(18, 100%, 58%);
  display: flex;
  flex-basis: 31%;
  font-family: Ubuntu , sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  padding: 5px 2px;
}

.btn-type-meals:hover {
  background-color: hsl(18, 100%, 58%);
  color: white;
}
