/* footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  width: 100%;
} */

footer {
  background-color: hsl(18, 100%, 58%);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 7px 3px;
  position: fixed;
  width: 98%;
}

.footer-btn {
  background-color: hsl(18, 100%, 58%);
  border: none;
}

.footer-btn img {
  background-color: hsl(18, 100%, 58%);
  height: 40px;
  padding: 0.5px;
  width: 40px;
}

.footer-btn:hover {
  box-decoration-break: none;
  outline: none;
}
