@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap') ;

.header {
  align-items: center;
  background-color: hsl(18, 100%, 58%);
  display: flex;
  font-family: Ubuntu , sans-serif;
  font-size: 21px;
  padding: 7px 10px;
  position: fixed;
}

.header-btn {
  background-color: hsl(18, 100%, 58%);
  border: none;
}

.header-btn img {
  background-color: hsl(18, 100%, 58%);
  height: 35px;
  padding: 0.5px;
  width: 35px;
}

.header-title {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 250px;
}

.header-btn:focus {
  box-decoration-break: none;
  box-shadow: 0 0 0 0;
  outline: none;
}
