.recipeDetails {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 160px;
  padding: 0;
}

.startRecipe {
  background-color: #ff6a28;
  border: none;
  border-radius: 15px;
  bottom: 10%;
  color: white;
  font-family: Ubuntu , sans-serif;
  font-size: 20px;
  left: 50%;
  padding: 12px 0;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70vw;
}

.logo-gif {
  width: 360px;
}
