.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: #adadad 0 0.1em 0.2em 0.1em;
  display: flex;
  height: 140px;
  width: 280px;
}

.cardText {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.card h3 {
  color: rgba(33, 37, 41, 1);
  font-size: 1.2rem;
  margin: 0;
}

.card h4 {
  color : rgba(184, 184, 184, 1);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.card img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 140px;
  width: 135px;
}
