.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  height: 140px;
  width: 280px;
  /* border-radius: 10px; */
}

.cardText {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.card h3 {
  color: rgba(33, 37, 41, 1);
  font-size: 1.2rem;
  margin: 0;
}

.card h4 {
  color : rgba(184, 184, 184, 1);
  font-size: 1rem;
  margin: 0;
}

.card img {
  height: 140px;
  width: 135px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
