.categoriesRecipes {
  display: flex;
  gap: 10px;
  margin: 0 7px;
  margin-top: 65px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.categoriesRecipes button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: #adadad 0.1em 0.2em 0.1em;
  color: hsl(18, 100%, 58%);
  display: flex;
  flex-basis: 31%;
  font-family: Ubuntu , sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  padding: 5px 12px;
}

.categoriesRecipes button:hover {
  background-color: hsl(18, 100%, 58%);
  color: white;
}

.sectionRecipesCards {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5rem;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.logo-gif {
  width: 450px;
}
