.recipe-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: Ubuntu , sans-serif;
  margin: 25px auto;
  padding: 10px 15px;
  width: 85vw;
}

.recipe-text h3 {
  color: #ff6a28;
  font-size: 20px;
  font-weight: 400;
}


.recipe-text h4, p {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
}

.recipe-text p {
  line-height: 25px;
}

.video {
  border: none;
  width: 100vw;
}

.logo-gif {
  width: 10px;
}
