.recipes {
  margin-bottom: 80px;
}

.categoriesRecipes {
  display: flex;
  gap: 10px;
  margin: 0 7px;
  margin-top: 65px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.categoriesRecipes button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: #adadad 0.51px 0.51px 1px;
  color: hsl(18, 100%, 58%);
  display: flex;
  flex-basis: 31%;
  font-family: Ubuntu , sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  margin: 0;
  padding: 5px 12px;
  white-space: nowrap;
}

.categoriesRecipes button:hover {
  background-color: hsl(18, 100%, 58%);
  color: white;
}

.sectionRecipesCards {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5rem;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.container-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo-gif {
  width: 80%;
}

@media (min-width: 820px) {
  .logo-gif {
    width: 600px;
  }
}
