.recommendedCards {
  align-items: center;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 200px;
}

.recommendedCards img {
  height: 90px;
  width: 100px;
}

.recommendedCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}
