<<<<<<< HEAD
.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.detailCard {
  height: auto;
  padding: 10px;
  width: 95vw;
}

.detailCard img {
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 90vw;
=======
.recipeDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 340px;
}

.detailCard img {
  width: 200px;
>>>>>>> main-group-22-release
}

.startRecipe {
  bottom: 0;
<<<<<<< HEAD
  position: fixed;
}

.buttons {
  margin: 0 auto;
}

.video {
  width: 95vw;
}
=======
  left: 200px;
  position: fixed;
}
>>>>>>> main-group-22-release
