.header {
  align-items: center;
  background-image: linear-gradient(180deg, #c0392b, #ecf0f1);
  display: flex;
  font-family: Ubuntu;
  font-size: 20px;
  padding: 12px;
}

.header-btn {
  background-color: #ecf0f1;
  border-radius: 7px;
}

.header-btn img {
  background-color: #ecf0f1;
  height: 35px;
  padding: 0.5px;
  width: 35px;
}

.header-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-shadow: white 0.1em 0.1em 0.2em;
  width: 250px;
}
